* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 16px;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#root {
  height: 100%;
  width: 100%;
}

/* index.js */

div.input-wrapper {
  position: relative;
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  max-width: 100%;
}

div.input-wrapper input {
  height: 2.5rem;
  font-size: 1.5rem;
  min-width: 250px;
  max-width: 600px;
  width: 100vw;
  padding-left: 0.6rem;
}

div.input-wrapper #recommend-btn {
  border: none;
  background: #00800a;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

div.input-wrapper #recommend-btn:hover {
  filter: brightness(110%);
}

div.input-wrapper #recommend-btn:active {
  filter: brightness(120%);
}

/* ResultsRenderer.js */

.results-renderer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
#no-results {
  font-size: 2rem;
}

/* ResultItem.js */

.result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background: #cdc2e3;
  box-shadow: -1px 0 8px #000;
  transition: all 450ms ease;
  cursor: pointer;
  margin: 1rem;
  padding: 10px 5px;
}

.result-item:hover {
  box-shadow: -0.5rem 0.5rem 1rem #000;
  transform: translateY(-5px);
}

.result-item h4 {
  width: 75%;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
}
.result-item .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.result-item .tags::-webkit-scrollbar {
  display: none;
}
.result-item .tags span {
  padding: 7px;
  margin: 3px 5px;
  border-radius: 4px;
  background: linear-gradient(315deg, #b9afcc, #dbd0f3);
  box-shadow: -5px -5px 14px #aea5c1, 5px 5px 14px #ecdfff;
  word-break: pre-wrap;
}

#emoji-wrapper {
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
